/*single column layout*/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #e6e6e9;
    font-family: myriad pro, sans-serif;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#loginpage {
    display: block;
}

#login {
    min-width: 45%;
    max-width: 65%;
    margin: 1em auto;
    padding: 1em;
}

#login > fieldset {
    margin: .5em 1.5em;
    padding: 0;
}

#login > legend {
    margin: .5em .75em;
}

#login > p {
    margin: 1em 1.5em;
    max-width: 30em;
}

.matchmaker {
    position: relative;
}

#loved {
    background-color: #e6e6e9;
    color: #686979;
    border: .125em;
    border-style: dashed;
    border-color: #686979;
}

#love {
    background-color: #0079d3;
    position: absolute;
    bottom: 13em;
    left: 5em;
}

#emptystate p {
    color: #686979;
}

#matchresults section {
    grid-column: 2/3;
}

#matchresults h1 {
    grid-column: 1/3;
    margin: 0;
}

#matchresults p > span {
    bottom: 0;
    left: 0;
}

#matchresults button {
    bottom: .75em;
    right: 0;
}

#mystories section {
    Xgrid-column: 2/3; /* geen column definieren dan blijven de articles mooi in het midden */
}

#mystories h1 {
    grid-column: 1/4;
    margin: 0;
}

#storypage {
    display: block;
}

#storypage > section.story {
    width: 100%;
    padding: 1em;
    margin: 1em auto;
}

.story .image2, .story .image3 {
    display: none;
}

.story > img {
    width: 100%;
}

#storypage > form {
    min-width: 10em;
    max-width: 22em;
    background-color: #ffffff;
    box-shadow: none;
    margin: 1.5em auto;
    position: relative;
    z-index: 20;
}

#storypage input[type=text]{
    border: .225em solid #003082;
}

#storypage button {
    background-color: #0079d3;
    color: white;
    font-size: 1em;
    min-width: 7.5em;
    padding: .5em .5em;
    margin: .5em 0;
    box-shadow: inset 0 -.125em 0 0 #005ca0;
    transition: all .25s;
}

#storypage button:hover {
    box-shadow: inset 0 -3em 6px 0 #005ca0;
}

#storypage > section {
    margin-top: -13.5em;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-out;
}

#storypage > section > article {
    position: relative;
    width: 100em;
    height: 10em;
    margin: 1em 0;
    padding: 0.5em;
}

#first {
    background-color: rgba(255, 201, 23, 0.75);
    transition: all 3s ease-out;
}

.down #first {
    background-color: white;
}

#storypage .down {
    position: relative;
    margin-top: -1.5em;
}

#storypage article > img:nth-of-type(1) {
    width: 2em;
    position: absolute;
    left: 10%;
    top: 10%;
}    /*Om de profielfoto een grootte te geven*/

#storypage article > img:nth-of-type(2) {
    width: 1em;
    position: absolute;
    right: 10%;
    bottom: 10%;
} /*Om de reactie button een grootte te geven*/

#storypage h2 {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 10%;
    left: 25%;
}

#storypage p {
    position: absolute;
    top: 35%;
    left: 10%;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #003082;
}

header li {
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;
}

li {
    padding: .5em .5em;
} /*Om de footer linkjes ruimte te geven*/

li img {
    max-width: 1.5em;
}

h1 {
    font-size: 2.375em;
    font-weight: 400;
    color: #003082;
    margin: .5em;
}

h2 {
    font-size: 1.875em;
    font-weight: 400;
    color: #003082;
}

h3 {
    font-size: 1.5;
    font-weight: 400;
    color: #003082;
}

form {
    background-color: #ffc917;
    padding: 1em;
    margin: 1em 1em;
    box-shadow: inset 0 -.125em 0 0 #cfa317;
}

fieldset {
    border: none;
    padding: 1.5em;
}

fieldset > p {
    color: #003082;
    max-width: 30em;
}

legend {
    font-size: 2.375em;
    font-weight: 400;
    color: #003082;
}

fieldset a {
    text-decoration: underline;
    color: #003082;
}

fieldset a::after {
    content: " >"
}

fieldset a:link {
    color: #003082;
}

label {
    color: #003082;
}

form button {
    background-color: #003082;
    color: white;
    padding: 1em;
    border: 0em;
    border-radius: 0em;
    margin: .5em 0;
}

input[type=text] {
    border: 0em;
    border-radius: 0em;
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    margin: 1em 0em;
}

input[type=email], input[type=password] {
    border: 0em;
    font-size: 1em;
    padding: .5em;
    margin-bottom: 1em;
}

#shadow:hover {
    box-shadow: none;
    cursor: default;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
    box-shadow: .125em .125em #686979;
}

input[type=text]:active, input[type=email]:active, input[type=password]:active {
    background-color: #686979;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: .2em solid #cfa317;
    background-color: #e6e6e9;
}

input[type=email]:valid:focus, input[type=password]:valid:focus {
    background-color: green;
}

input[type=email]:invalid:focus, input[type=password]:invalid:focus {
    background-color: orangered;
}

input[type=submit] {
    background-color: #0079d3;
    color: white;
    font-size: 1em;
    min-width: 7.5em;
    padding: .5em .5em;
    margin: .5em 0;
    box-shadow: inset 0 -.125em 0 0 #005ca0;
    transition: all .25s;
}

input[type=submit]:hover {
    box-shadow: inset 0 -3em 6px 0 #005ca0;
    cursor: pointer;
}

section {
    padding: 1em;
    margin: 1em auto;
}

article {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em 0;
    min-width: 5em;
    max-width: 22em;
    box-shadow: inset 0 -.125em 0 0 rgba(7, 7, 33, .15);
    color: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

a > img {
    width: 100%;
}

p {
    position: relative;
}

p > span {
    position: absolute;
    bottom: .75em;
    left: 3em;
}

p img {
    width: 2em;
}

a {
    text-decoration: none;
}

section button {
    background-color: #0079d3;
    color: white;
    font-size: 1em;
    min-width: 7.5em;
    padding: .5em .5em;
    margin: 1em auto;
    box-shadow: inset 0 -.125em 0 0 #005ca0;
    transition: all .25s
}

section button::after {
    content: " >"
}

section button:hover {
    box-shadow: inset 0 -3em 6px 0 #005ca0;
    cursor: pointer;
}

article footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer button {
    background-color: white;
    box-shadow: none;
    border: 0;
    background-image: url(images/plus3.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 3em;
    height: 2em;
    position: absolute;
    right: 0;
    transition: all .25s ease-out;
}

footer button:hover {
    box-shadow: none;
}

.show {
    background-image: url(images/vink.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
}

footer {
    background-color: #ffffff;
    padding: 1em;
    margin-top: auto;
    position: relative;
}

footer ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: all .25s ease;
    width: 100%;
}

footer li a {
    color: #686979;
    padding-left: 1em;
    position: relative;
}

footer li a:hover {
    color: #003082;
}

footer li a::before {
    content: ">";
    position: absolute;
    left: 0;
    transition: all .25s;
}

footer li a:hover::before {
    left: .25em;
}

/*Breakpoint 1*/

@media (min-width: 42em) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2/3;
        grid-gap: 1em;
        width: 100%;
    }

    #login {
        min-width: 45%;
        max-width: 65%;
        margin: 1em auto;
    }

    #loginpage > footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .story {
        padding: 1em;
        margin: 2em auto;
    }

    .story .image1, .story .image3 {
        display: none;
    }

    .story .image2 {
        display: block;
    }

    #storypage > section {
        padding: 0;
    }

    #storypage > section > article {
        max-width: 22em;
    }

    #storypage > form {
        width: 22em;
    }

    #loginpage {
        display: block;
    }

    #mystories article{
        min-width: 15em;
    }

    #matchresults {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    #matchresults article {
        min-width: 11em;
    }

    main {
        grid-column: 1/3;
        max-width: 45em;
        margin: 0 auto;
    }

    header {
        grid-column: 1/4;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    form {
        grid-column: 1/3;
        padding: 0;
        border: 0;
        margin: 0 2em; /* om te voorkomen dat de form tegen de rand gaat staan */
    }

    form legend {
        padding: .5em 0em 0em 0em;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        grid-column: 1/3;
        padding: 2em; /* padding zodat de articles niet tegen de rand gaan staan */
    }

    section h2 {
        grid-column: 1/3;
    }

    article {
        width: 100%;
    }

    section button {
        grid-column: 1/2;
        max-width: 7.5em;
        margin-left: 0;
    }

    footer {
        grid-column: 1/4;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 55em) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    main {
        max-width: 53em;
        margin: 0 auto;
        grid-column: 2/3;

    }

    #loginpage {
        display: block;
    }

    #login {
        min-width: 45%;
        max-width: 65%;
        margin: 1em auto;
    }

    #loginpage > footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    #storypage {
        margin: 0 auto;
    }

    section.story {
        width: 100%;
        padding: 1em;
        margin: 2em auto;
    }

        .story .image1, .story .image2 {
        display: none;
    }

    .story .image3 {
        display: block;
    }

    #storypage > form {
        margin: 1em auto;

    }

    #storypage > section {
        padding: 0;
    }

    #storypage > section > article {
        max-width: 22em;
        margin: 1.5em 0;
        padding: 0.5em;
    }

    #mystories h1 {
        grid-column: 1/4;
    }

    #matchresults h1 {
        grid-column: 1/4;
    }

    header {
        grid-column: 1/4;
    }

    form {
        grid-column: 2/5;
        padding: 0;
        border: 0;
        margin: 0;
    }

    form legend {
        padding: .5em 0em 0em 0em;
    }

    section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 2/3;
        padding: 0;
    }

    section h2 {
        grid-column: 1/4;
    }

    article a {
        grid-column: 1/2;
        padding: 1em;
        min-width: 15em;
    }

    footer {
        grid-column: 1/4;
    }
}
